<%- include('parts/header'); %>
  <p>Змініть орієнтацію на книжну</p>
  <section class="user">
    <div class="user-tab">
      <img src="img/leaf-dark.png" alt="">
      <span>LeafCity</span>
      <a href="/api/auth/logout" class="logout"><img src="img/logout.png" alt=""></a>
    </div>
    <div class="slider-nav">
      <div class="slider-nav-item">
        <img src="img/map.png" alt="" class="passive">
        <img src="img/map-a.png" alt="" class="active">
      </div>
      <div class="slider-nav-item">
        <img src="img/profile.png" alt="" class="passive">
        <img src="img/profile-a.png" alt="" class="active">
      </div>
      <div class="slider-nav-item">
        <img src="img/bell.png" alt="" class="passive">
        <img src="img/bell-a.png" alt="" class="active">
      </div>
    </div>
    <div class="slider">
      <div class="map">
        <div id="map"></div>
        <div class="btns">
          <div class="add-small leaf"><img src="img/leaf-white.png" alt=""><span>Підтвердити</span></div>
          <div class="add-small fire"><img src="img/fire.png" alt=""><span>Підтвердити</span></div>
        </div>
      </div>
      <div class="profile">
        <div class="profile-info">
          <div class="profile-photo">
            <img src="img/user.png" alt="">
          </div>
          <div class="profile-contacts">
            <div class="profile-role">Користувач</div>
            <div class="profile-name" data-edit data-edit-type="name"><%=user.name %></div>
          </div>
        </div>
        <div class="profile-address">
          <div class="profile-title"><img src="img/home.png" alt="">Домашня адреса</div>
          <div class="profile-value" data-edit data-edit-type="address"><%=user.address %></div>
        </div>
        <div class="profile-next">
          <div class="profile-title"><img src="img/cnt.png" alt="">Статистика</div>
          <div class="profile-value">Створено маркерів <span><%=stats.created %></span></div>
          <div class="profile-value">Вивезено листя <span><%=stats.picked %></span></div>
          <div class="profile-value">Локалізовано підпалів <span><%=stats.localized %></span></div>
        </div>
        <div class="profile-score"><img src="img/score.png" alt=""><span><%=user.coins %></span>&nbsp;монет</div>
        <div class="profile-shop"><img src="img/shop.png" alt=""></div>
      </div>
      <div class="noti">
        <ul>
          <% if (noti.length == 0) { %>
            <li>
              <div class="noti-image"></div>
              <div class="noti-content">
                <div class="noti-title" style="color: grey; text-align: center;">Поки що немає сповіщень</div>
              </div>
            </li>
          <% }%>
          <% noti.forEach(function(notif){ %>
            <li>
              <div class="noti-image">
                <img src="<%=notif.icon %>" alt="">
              </div>
              <div class="noti-content">
                <div class="noti-title <% if (notif.icon.indexOf('fire') != -1) { %> red<% } %>
                  <% if (notif.icon.indexOf('fire') == -1) { %> green <% } %>"><%=notif.title %></div>
                <div class="noti-text"><%=notif.text %></div>
              </div>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </section>

  <script>
    window.user_id = '<%=user.id %>';
  </script>
  <%- include('parts/script'); %>
  <script src="js/scripts-user.js"></script>
  <script src="js/edit.js"></script>
<%- include('parts/footer'); %>