<%- include('parts/header'); %>
  <p>Змініть орієнтацію на книжну</p>
  <section class="user">
    <div class="user-tab">
      <img src="img/leaf-dark.png" alt="">
      <span>LeafCity</span>
      <a href="/api/auth/logout" class="logout"><img src="img/logout.png" alt=""></a>
    </div>
    <div class="slider-nav">
      <div class="slider-nav-item">
        <img src="img/map.png" alt="" class="passive">
        <img src="img/map-a.png" alt="" class="active">
      </div>
      <div class="slider-nav-item">
        <img src="img/profile.png" alt="" class="passive">
        <img src="img/profile-a.png" alt="" class="active">
      </div>
      <div class="slider-nav-item">
        <img src="img/bell.png" alt="" class="passive">
        <img src="img/bell-a.png" alt="" class="active">
      </div>
    </div>
    <div class="slider">
      <div class="map">
        <div id="map"></div>
        <div class="btns">
          <div class="add-small leaf"><img src="img/leaf-white.png" alt=""><span>Підтвердити</span></div>
          <div class="add-small fire"><img src="img/fire.png" alt=""><span>Підтвердити</span></div>
        </div>
      </div>
      <div class="profile">
        <div class="profile-info">
          <div class="profile-photo">
            <img src="img/avatar.png" alt="">
          </div>
          <div class="profile-contacts">
            <div class="profile-role">Користувач</div>
            <div class="profile-name" data-edit data-edit-type="name"><%=user.name %></div>
          </div>
        </div>
        <div class="profile-address">
          <div class="profile-title"><img src="img/home.png" alt="">Домашня адреса</div>
          <div class="profile-value" data-edit data-edit-type="address"><%=user.address %></div>
          <div class="profile-refresh"><img src="img/refresh.png" alt=""></div>
        </div>
        <div class="profile-next">
          <div class="profile-title"><img src="img/date.png" alt="">Наступний вивіз</div>
          <div class="profile-value">Понеділок<br>20.12.2016 19:40</div>
          <div class="profile-refresh"><img src="img/refresh.png" alt=""></div>
        </div>
        <div class="profile-score"><img src="img/score.png" alt=""><span>235</span>&nbsp;монет</div>
        <div class="profile-shop"><img src="img/shop.png" alt=""></div>
      </div>
      <div class="noti">
        <ul>
          <li>
            <div class="noti-image">
              <img src="img/noti/home.png" alt="">
            </div>
            <div class="noti-content">
              <div class="noti-title green">Листя вивезено</div>
              <div class="noti-text">Листя вивезено з вашого будинку, на ваш рахунок нараховано 17 монет. Дякуємо за допомогу</div>
            </div>
          </li>
          <li>
            <div class="noti-image">
              <img src="img/noti/sad.png" alt="">
            </div>
            <div class="noti-content">
              <div class="noti-title green">Машина недоступна</div>
              <div class="noti-text">Нажаль в даний момент машина не може забрти листя. Ми повідомимо коли це стане можливо. Дякуємо за допомогу.</div>
            </div>
          </li>
          <li>
            <div class="noti-image">
              <img src="img/noti/fire.png" alt="">
            </div>
            <div class="noti-content">
              <div class="noti-title red">Ми вже реагуємо</div>
              <div class="noti-text">Дякуємо за звертання. Найближчим часом наші фахівці вирішать питання з підпалом у вашому районі. Будьте обережні.</div>
            </div>
          </li>
          <li>
            <div class="noti-image">
              <img src="img/noti/car.png" alt="">
            </div>
            <div class="noti-content">
              <div class="noti-title green">Очікуйте машину</div>
              <div class="noti-text">Машина прибуде до Вас на протязі 5 днів. Очікуйте сповіщення.</div>
            </div>
          </li>
          <li>
            <div class="noti-image">
              <img src="img/noti/home.png" alt="">
            </div>
            <div class="noti-content">
              <div class="noti-title green">Листя вивезено</div>
              <div class="noti-text">Листя вивезено з вашого будинку, на ваш рахунок нараховано 17 монет. Дякуємо за допомогу</div>
            </div>
          </li>
          <li>
            <div class="noti-image">
              <img src="img/noti/home.png" alt="">
            </div>
            <div class="noti-content">
              <div class="noti-title green">Листя вивезено</div>
              <div class="noti-text">Листя вивезено з вашого будинку, на ваш рахунок нараховано 17 монет. Дякуємо за допомогу</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <script>
    window.user_id = '<%=user.id %>';
  </script>
<%- include('parts/footer'); %>